<%= jwplayer_assets %>

<h2>JFM Live Service</h2>
<div id='my-video'>Your player is loading....</div>

<script type="text/javascript">
  jwplayer("my-video").setup({
    playlist: [{
      image: "http://www.jesusfamilytv.com/images/home_img.jpg",
      sources: [{ 
          file: "rtmp://184.95.35.92:1936/8046/8046" 
        },{
          file: "http://184.95.35.92:1936/8046/8046/playlist.m3u8" 
      }]
    }],
    height: 360,
    logo: {
      file: 'http://www.jesusfamilytv.com/images/jw_logo.png',
      link: 'http://www.jesusfamilytv.com'
    },
    primary: "flash",
    autostart: false,
    stretching: 'exactfit',
    ga: {
      idstring: "8046",
      trackingobject: "pageTracker"
    },
    width: 640
  });                    
</script>
</div>
